
<div class="container">
	<div class="row">
		<h1 class="text-center">Sign In</h1>
		<div class="col-sm-6 col-sm-offset-3">
			<% if(flash[:error]) %>
			<div class="alert bg-danger">
			<%= flash[:error] %>
			</div>
			<% end %>
			<%= form_for(:session, url: sessions_path) do |f| %>
				<div class="form-group">
					<%= f.label :email %>
					<%= f.text_field :email, {class: "form-control"} %>
				</div>
				<div class="form-group">
				<%= f.label :password %>
				<%= f.password_field :password, {class: "form-control"} %>
				</div>
				<div class="form-group">
				<%= f.submit "Sign in", class: "btn btn-primary" %>
				</div>
			<% end %>
			<p>New user? <%= link_to("Sign up", "/signup") %></p>
		 </div> 


	</div>
</div>