<div class="container" id="distant-supervision-experiment">
	<div class="row">
		<div class="col-md-12">
			<h2>Sentence <%= @sentence.id %></h2>
			<p class="sentence"><%= @sentence.sentence %></p>
			<%= form_tag(@targetRoute, :method => :post) do %>
			<h3>Does the sentence express the following facts?</h3>
			<h4 class="subheader"><small>* Hover over entities to see where they are located in the sentence</small></h4>
			<table class="table">
				<thead>
					<tr>
						<th>Entity 1</th>
						<th>Relation</th>
						<th>Entity 2</th>
						<th>Yes</th>
						<th>No</th>
						<th>Not Sure</th>
					</tr>
				</thead>
				<tbody>
				<% @sentence.relations.each do |rel| %>
					<tr>
						<td class="extent-hover" data-range="<%= rel.extent1_begin %>-<%= rel.extent1_end %>"><%= rel.extent1_text %></td>
						<td ><%= rel.relation %></td>
						<td class="extent-hover" data-range="<%= rel.extent2_begin %>-<%= rel.extent2_end %>"><%= rel.extent2_text %></td>
						<td> <label><input type="radio" name="in_sentence[<%= rel.id %>]" value="1" /> Yes </label>

						</td>
						<td> 
							<label><input type="radio" name="in_sentence[<%= rel.id %>]" value="0" /> No </label>
						</td>
						<td> 
							<label><input type="radio" name="in_sentence[<%= rel.id %>]" value="2" /> Not sure </label>
						</td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
		<div class="row">
			<div class="col-sm-2 col-sm-offset-10">
				<input type="submit" class="btn btn-primary" value="Submit" />
			</div>
		</div>
		<% end %>
	</div>
</div>
